* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}



.section1 {
    background: #040404;
    background-image: url(./image\ 2.png);
    width: 1440px;
    height: 960px;
    flex-shrink: 0;
    background-position: center;
    background-attachment: fixed;

}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
    height: 100px;
    max-width: 1440px;
    margin: 0 auto;
}

.nav-logo>h1 {
    color: #FFF;

    font-family: Open Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav-item {
    display: flex;
    gap: 40px;

}

.nav-item>a {
    color: #FFF;

    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

/* seciton1 main  */
main {
    display: grid;
    grid-template-columns: 5fr 5fr;
    max-width: 1440px;
    margin: 0 auto;
    height: 80%;
    gap: 10px;
    padding: 0px 70px;
}

main>div {
    height: 100%;
    padding: 90px 50px 0px;

}

.main-child {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
}

.main-child-text {
    display: flex;
    flex-direction: column;
    
}

.main-child-text>h1 {
    color: #00A890;

    font-family: Open Sans;
    font-size: 170px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

main>h2 {
    color: #FFF;

    font-family: Open Sans;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-child-text>p {
    color: #FFF;

    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-btn button{
    width: 270px;
    height: 65px;
    border-radius: 50px;
    background: #00A890;
    border: none;
    color: white;
}